@import url(../App.css);
#navBar {
	position: sticky;
	top: 0px;
	z-index: 99;
}

#fluidContainer {
	align-items: baseline;
}
#title {
	font-family: var(--primaryFont);
	font-weight: 600;
}

ul > li > a {
	font-family: var(--secondaryFont);
	font-weight: 400;
	padding-bottom: 0px !important;
}
