@import url(../App.css);

#divCard {
	width: 90%;
	min-height: 100%;
	border-radius: 1.5rem;
	overflow: hidden;
}

div > img {
	max-height: 12rem;
}

.cardText {
	max-width: 100%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: var(--secondaryFont);
}
.card-text {
	margin: 0rem 0rem 0.5rem 0rem;
}
p > small {
	font-size: 12px;
	font-family: var(--secondaryFont);
}
